DATABASE_URL="mysql://user:password@host:3306/database"
DATABASE_SSL="false"

NEXTAUTH_URL="http://localhost:3000"
NEXTAUTH_SECRET=""

# UploadThing
UPLOADTHING_TOKEN=""

# Pusher
PUSHER_APP_ID=""
NEXT_PUBLIC_PUSHER_KEY=""
NEXT_PUBLIC_PUSHER_CLUSTER=""
PUSHER_SECRET=""
